<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
       
        <span class=""><h1 class="logo un-skew">
          <a href="/">
            <img src="/assets/images/logo.jpg" alt="House" style="width:150px">
        </a>
      </h1>
      </span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a routerLink="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a routerLink="/order" class="nav-link"><span class="nav-link-span"><span class="u-nav">Order</span></span></a>
        <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">About us</span></span></a>
      </div>
    </nav>
  </header>
  <main>
    <!-- <section id="home" style="width: 100%;"> -->

    <!-- </section> -->
 <!-- <app-home></app-home> -->
  </main>


</body>

</html>


