<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <app-header></app-header>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects" style="text-align: center;">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">
      <b>HOW IT WORKS</b></h1>
  </div>
<!-- 
  
    <div class="w3-row-padding" style="border-radius: 25px;
    background: rgb(255, 242, 0);
    padding: 20px; 
    width: 200px;
    height: 150px;  
  ">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding"> <img src="/assets/images/order.jpg" alt="House" style="width:100px"></div>
        </div>
        
      </div>
    
     
    </div> -->

    <div class="w3-row-padding" style="margin-left: 98px;">
      <div  class="w3-col l3 m6 w3-margin-bottom" style="background-color: #facc06; border-radius: 85px;">
        <img src="/assets/images/cart.jpg" alt="John" style="width:100px;
        display: block;
  margin-left: auto;
  margin-right: auto;
">
        <h3 style="text-align: center;"><b>SELECT PRODUCT</b></h3>
    <hr class="new5">   
        <h5  style="color: #ffffff; text-align: center; margin-bottom: 22px;">
          Select from a wide variety of groceries and much more!</h5>
      </div>

      


      <div  class="w3-col l3 m6 w3-margin-bottom" style="background-color: #facc06; margin-left: 80px;  border-radius: 90px;">
        <img src="/assets/images/placeorder.jpg" alt="John" style="width:90px; 
        display: block;
  margin-left: auto;
  margin-right: auto;
">
        <h3 style="text-align: center;"><b>PLACE ORDER</b></h3>
        <hr class="new5">
        <h5 style="color: #ffffff; text-align: center; margin-bottom: 22px;">  
          Our Rider will be at your doorstep within minutes!
        </h5>
      
      </div>

      

      <div  class="w3-col l3 m6 w3-margin-bottom" style="background-color: #facc06; margin-left: 80px;  border-radius: 90px;">
        <img src="/assets/images/enjoy.jpg" alt="John" style="width:60px; 
        display: block;
  margin-left: auto;
  margin-right: auto;
">
        <h3 style="text-align: center;"><b>Enjoy</b></h3>
        <hr class="new5">
        <h5 style="color: #ffffff; text-align: center;">  
          No more long queues. Get fastest grocery delivery at home!
        </h5>
      
      </div>
      
    </div>
    
  

  
  

  

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>
      The industry we have chosen is <b>SERVICE BASED INDUSTRY (PERSONAL SHOPPER)</b>.
      Shopping is a hobby but not for everyone. Some people love to do it and some dont get enough time to do it. Some people do not enjoy shopping and some are that who couldnt manage to shop and for that job to be done we are introducing a personal shopper in which people hire someone to go shop for them or with them. This is called a personal shopper.
      The idea is to be available for these people. A personal shopper can assist you in shopping or shopping on your behalf completely. We will work through developing an online application where clients can place an order for their requirements.
      
    </p>
  </div>
<!-- 
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/assets/images/user1.jpg" alt="John" style="width:100%">
      <h3>John Doe</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/assets/images/user2.jpg" alt="Jane" style="width:100%">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/assets/images/user3.jpg" alt="Mike" style="width:100%">
      <h3>Mike Ross</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/assets/images/user4.jpg" alt="Dan" style="width:100%">
      <h3>Dan Star</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div> -->

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="/assets/images/map.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="/" title="W3.CSS" target="_blank" class="w3-hover-text-green">Shop it</a></p>
</footer>

</body>
</html>
